<div class="flex items-center justify-between border-b py-2">
    <div class="flex items-center">
        <input type="checkbox" [(ngModel)]="todo.completed" (change)="updateTodo()" class="mr-2 w-6 h-6 text-blue-600 border-gray-300 rounded focus:ring-blue-500">
        @if (isEditing) {
        <input [(ngModel)]="todo.title" (blur)="updateTodo()" class="border p-1">
        } @else {
        <span [class.line-through]="todo.completed" class="text-lg text-gray-800">{{ todo.title }}</span>
        }
    </div>
    <div>
        @if (isEditing) {
        <button (click)="toggleEdit()" class="bg-green-500 text-white p-1 rounded ml-2 mr-2">Save</button>
        } @else {
        <button (click)="toggleEdit()" class="bg-blue-500 text-white p-1 rounded mr-2">Edit</button>
        }
        <button (click)="deleteTodo()" class="bg-red-500 text-white p-1 rounded">Delete</button>
    </div>
</div>